.calendar {
  width: 900px;
  max-width: 95%;
  margin: 30px auto;
}

.calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day {
  min-height: 100px;
  padding: 10px;
  border: 2px solid black;
  font-size: 22px;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.calendar-day:hover {
  background-color: lightgray;
}

.empty-day {
  border: none;
  cursor: default;
}

.current-date {
  border: 4px solid red;
}

.event-symbol {
  display: block;
  font-size: 25px;
  margin-top: 15px;
}
